failures
build/
*.ibc
a.output
# For convenience
custom.mk
\#*
.\#*
tags
TAGS

tests/**/output
tests/**/*.dot
tests/**/*.png

# IDE and editors
*.swp
*~
.DS_Store
.hpc
*.orig
*.tix
*.dSYM
.projectile
.dir-locals.el
.vscode
.idea

docs/build/
/temp.dot
